---
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import About from "../icons/About.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Github from "../icons/Github.astro";
import Linkendin from "../icons/Linkendin.astro";
import Mail from "../icons/Mail.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="px-4">
    <SectionContainer class="relative py-16 md:py-36">
      <div
        class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center"
      >
        <div class="flex flex-col items-center md:items-start">
          <div class="relative">
            <img
              class="rounded-full w-40 h-40 border-4 border-fuchsia-500 shadow-lg"
              src="/portfolio.jpg"
              alt="Angy Photo"
            />
            <div
              class="absolute -bottom-3 right-0 inline-flex overflow-hidden rounded-full p-[1px] bg-gradient-to-r from-fuchsia-500 via-pink-500 to-purple-600"
            >
              <span
                class="inline-flex items-center justify-center px-3 py-1 text-sm text-white bg-blue-950 rounded-full dark:bg-slate-950 backdrop-blur-3xl"
              >
                Armenia, Colombia
              </span>
            </div>
          </div>
          <h1
            class="text-white dark:text-white text-4xl md:text-5xl font-extrabold mt-6"
          >
            Angy Tabares
          </h1>
          <p class="text-fuchsia-500 text-xl lg:text-2xl mt-2">
            Software Engineer & Web Developer
          </p>
        </div>

        <div
          class="flex flex-col items-center md:items-start text-center md:text-left"
        >
          <p class="text-white/80 text-lg leading-relaxed mb-6">
            Web developer with more than a year of experience in React,
            JavaScript and other modern technologies. Dedicated to building
            functional and user-friendly web applications
          </p>
          <nav class="flex flex-wrap gap-4">
            <SocialPill
              href="https://www.linkedin.com/in/angy-paola-tabares-acevedo-66341a232/"
            >
              <Linkendin class="size-5 md:size-6" />
              LinkedIn
            </SocialPill>
            <SocialPill href="https://github.com/angyTabares">
              <Github class="size-5 md:size-6" />
              GitHub
            </SocialPill>
            <SocialPill href="mailto:angy.paolatabares@gmail.com">
              <Mail class="size-5 md:size-6" />
              Contact
            </SocialPill>
          </nav>
        </div>
      </div>
      <div class="absolute inset-0 pointer-events-none">
        <div
          class="absolute w-96 h-96 bg-gradient-to-tr from-pink-500 to-purple-600 opacity-30 rounded-full blur-3xl -top-20 -right-20 hidden sm:block"
        >
        </div>

        <div
          class="absolute w-72 h-72 bg-gradient-to-br from-fuchsia-400 to-blue-500 opacity-10 rounded-full blur-2xl top-40 -left-20"
        >
        </div>
      </div>
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3">
          <Briefcase class="size-7" />
          Work Experience
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <h2 class="flex items-center text-3xl font-semibold mb-6 gap-x-3">
          <Code class="size-7" />
          Projects
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about">
        <h2 class="flex items-center text-3xl font-semibold mb-6 gap-x-3">
          <About class="size-7" />
          About
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
