---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Web Developer",
    company: "Technologies of Colombia",
    dates: "Mayo 2023 - Present",
    description: `I develop and maintain a web application for the financial and human capital sector, primarily working on the frontend with React. I also contribute to backend development using NestJS, ensuring a seamless and scalable product experience.`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
