---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Desarrolladora Web y Promadora" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio de Angy Tabares</title>
  </head>
  <body class="relative h-full w-full bg-slate-950">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
